@page "/actores/crear"
@inject NavigationManager nav
@inject IRepositorio repositorio
@inject SweetAlertService swal

<h3>Crear Actores</h3>

<FormularioActores OnValidSubmit="Insert" Actor="Actor"/>

@code {
    private Actor Actor = new Actor();

    public async Task Insert()
    {
        var httpResponse = await repositorio.Post("api/actores", Actor);

        if (httpResponse.Error)
        {
            var mensajeError = await httpResponse.ObtenerMensajeError();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            // await swal.FireAsync("Exitoso", $"El genero {Actor.Nombre} ha sido agregado correctamente.", SweetAlertIcon.Success);
            nav.NavigateTo("actores");
        }
    }
}
